<h1>Static pages</h1>

<% if @photos.empty? %>
  <p>No images available for that user</p>
<% else %>
  <% @photos.each do |image| %>
    <a href=<%= image["image_link"] %>>
      <%= image_tag(image["thumbnail"], alt: image["title"]) %>
    </a>
  <% end %>
<% end %>

